// desktop
@media screen and (min-width: $sm) {
  .fill-from-right {
    justify-content: flex-end;
  }
}

.horizontal-container {
  display: flex;
  flex-direction: row;
  position: relative;

  > * {
    flex: 1;
    width: 100%;
  }
}

.hide-arrow-background {
  background: none !important;
}
