.lighter-blue {
  color: $lighter-blue !important;
}

.light-blue {
  color: $light-blue !important;
}

.base-blue {
  color: $base-blue !important;
}

.dark-blue {
  color: $dark-blue !important;
}

.base-green {
  color: $base-green !important;
}

.base-orange {
  color: $base-orange !important;
}

.lighter-grey {
  color: $lighter-grey !important;
}

.light-grey {
  color: $light-grey !important;
}

.base-grey {
  color: $base-grey !important;
}

.dark-grey {
  color: $dark-grey !important;
}

.darker-grey {
  color: $darker-grey !important;
}

.darker-grey-50 {
  color: $darker-grey-50 !important;
}

.black {
  color: $black !important;
}

.white {
  color: $white !important;
}

.base-brown {
  color: $base-brown !important;
}

.red {
  color: $red !important;
}




