// An icon mixin in any case where you need to add the icon to an element that doesn’t have the specific icon class@mixin
// USAGE example
//  @mixin alert-danger {
//    @include icon($icon-alert-circle);
//

@mixin icon($key) {
  &::before {
    font-family: '#{$icon-font-family}' !important;
    content: '#{$key}';
  }
}

@mixin all-icons() {
  /* use !important to prevent issues with browser extensions that change fonts */
  color: $white;
  font-family: '#{$icon-font-family}' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  font-size: $icon-font-size-base;
  text-transform: none;
  line-height: 1;
  padding: $icon-padding-base;
  vertical-align: bottom;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
