@media screen and (max-width: 768px) {
  .sidebar {
    display: none !important;
  }
}

.sidebar {
  background-color: #48484c;
  color: #fff;
  overflow-y: scroll;

  /* width */
  ::-webkit-scrollbar {
    width: 20px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #000;
    border-radius: 10px;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #00c;
  }

  & > div > a {
    display: flex;
    box-sizing: border-box;
    cursor: pointer;
    font-weight: 700;
    align-items: center;

    .icon > i {
      font-size: 18px;
    }
  }

  .nav-menu {
    font-size: 13px;

    & > a {
      width: 183px;
      height: 45px;
      background-color: #363636;
      border-bottom: 1px solid #19191b;

      & > span {
        padding-left: 7px;
      }

      &.selected {
        background-color: #222;
        border-left: 4px solid #60a8ed;

        & > .icon > i {
          &.icon-angle-right {
            opacity: 1;
          }
        }
      }

      &:hover {
        padding: 2px 0 0 2px;
        border-left: 4px solid #60a8ed;
      }

      .label {
        flex: 1;
      }

      .icon > i {
        font-size: 18px;

        &.icon-angle-right {
          opacity: 0.4;
        }
      }
    }
  }

  .link-menu {
    font-size: 13px;
    padding: 6px 0;

    h2 {
      padding: 5px;
      margin: 0;
      font-size: 13px;
      color: #9b9b9b;
    }

    & > a {
      height: 38px;
      padding: 5px;

      &:hover {
        padding: 2px 0 0 2px;
        border-left: 4px solid #60a8ed;
      }
    }

    .label {
      padding-left: 5px;
      -webkit-box-flex: 1;
      flex: 1;
    }

    .icon > i {
      font-size: 14px;
    }
  }

  .useful-links {
    background-color: #414145;
  }
}
